<div class="ae-container-fluid ae-container-fluid--inner rk-main">
    <div class="ae-grid">
        <div class="ae-grid__item item-lg-6">
            <h4 class="ae-u-bolder au-mb-3 conatct__title">Contáctenos</h4>
            <p class="au-mb-4 contact__desc">
                Puedes comunicarte con nosotros cuando quieras.
                <br>Estamos para ayudarte.
            </p>
        </div>
        <div class="ae-grid ae-grid--collapse">
            <div class="ae-grid__item item-lg-12 au-xs-ta-center au-lg-ta-left">
                <h4 class="ae-u-bolder au-mb-3 conatct__title">Direccion</h4>
                <p class="au-mb-4 contact__addr">Calle 34 #11-30<br>Barrio Gaitan<br>Ibagué - Tolima, Colombia</p>
                <p> 
                    <span class="contact__phone"> 
                        <span class="rk-light-color">Telefono: </span>
                        (+57) 318 738 15 42
                        </span><br>
                    <span class="contact__email au-block au-truncate"> 
                        <span class="rk-light-color">Email &nbsp;&nbsp; </span>
                        imperiodom@gmail.com
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>